.App-intro {
  font-size: large;
}

h2 {
  padding-left: 1rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

li {
  margin: 5px auto;
  padding-left: 2rem;
  cursor: pointer;
}

li > img {
  height: 1.2rem;
}

li > span {
  margin: auto;
  padding-left: .2rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}